<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div style="font-family: 'Arial', sans-serif; margin: 0; padding: 0; background-color: #f4f4f4; color: #333;">
        <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff;">
            <p>Hi {{data.username}},</p>

            <p>We hope you're doing well! We've noticed that you haven't placed any orders in our app in the last 24 hours.</p>
            <p>We have a wide selection of fresh products and exciting deals waiting for you. Don't miss out!</p>
            <p>Remember, we're here to make your shopping experience easy and convenient. Visit us today and let's make your next shopping trip a great one!</p>
            
            <p>Best regards,</p>
            <p>The MyBasket Team</p>
        </div>
    </div>
</body>
</html>